<launch>

  <!-- Arguments -->
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find tb3-multibot-nav)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="true"/>

  <param name="/use_sim_time" value="true"/>

  <include file="$(find tb3-multibot-nav)/launch/onebot.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="map_file" value="$(arg map_file)"/>

    <!-- Individiual Turtle Params -->
    <arg name="tb3_ns"  value="tb3_0"/>
    <arg name="initial_pose_x" value="-2.0"/>
    <arg name="initial_pose_y" value="-0.5"/>
    <arg name="initial_pose_a" value=" 0.0"/>
  </include>

  <include file="$(find tb3-multibot-nav)/launch/onebot.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="map_file" value="$(arg map_file)"/>

    <!-- Individiual Turtle Params -->
    <arg name="tb3_ns"  value="tb3_1"/>
    <arg name="initial_pose_x" value="-2.0"/>
    <arg name="initial_pose_y" value=" 0.0"/>
    <arg name="initial_pose_a" value=" 0.0"/>
  </include>

  <include file="$(find tb3-multibot-nav)/launch/onebot.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="map_file" value="$(arg map_file)"/>

    <!-- Individiual Turtle Params -->
    <arg name="tb3_ns"  value="tb3_2"/>
    <arg name="initial_pose_x" value="-2.0"/>
    <arg name="initial_pose_y" value=" 0.5"/>
    <arg name="initial_pose_a" value=" 0.0"/>
  </include>
</launch>